.collection-box:hover {
  transform: scale(1.03);
}

.collection-box {
  max-width: 450px;
  transition: transform ease-in-out 0.2s;
}

.hide-on-small-screen {
  display: block;
}

@media (max-width: 576px) {
  #enforce-width-95-item1,
  #enforce-width-95-item2,
  #enforce-width-95-item3,
  #enforce-width-95-user0,
  #enforce-width-95-user1,
  #enforce-width-95-coll1,
  #enforce-width-95-coll2 {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .items-table-container {
    max-width: 800px;
  }
}

@media (max-width: 991px) {
  #hide-on-small-screen {
    display: none;
  }
}

@media (min-width: 992px) {
  .shift-on-large-screen {
    justify-content: end !important;
  }
}

table tr.align-middle > td:first-child {
  border-right: none !important;
}

.placeholder-image {
  background-color: #f0f0f0;
  background-image: url('../data/image-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: #999;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
}

.placeholder-image-page {
  background-color: #f0f0f0;
  background-image: url('../data/image-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: #999;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  min-height: 260px;
  max-width: 500px !important;
}

.help-button {
  width: 50px;
  height: 50px;
}

#enforce-right {
  margin-left: calc(100% - 5.25rem) !important;
}

#react-select-3-listbox {
  padding: 0 !important;
}
