.collection-box:hover {
  transform: scale(1.03);
}

.collection-box {
  max-width: 450px;
  transition: transform ease-in-out 0.2s;
}

.item-box:hover {
  transform: scale(1.03);
}

.item-box {
  transition: transform ease-in-out 0.2s;
}

@media (max-width: 576px) {
  #enforce-width-95-item1,
  #enforce-width-95-item2,
  #enforce-width-95-item3,
  #enforce-width-95-user0,
  #enforce-width-95-user1,
  #enforce-width-95-coll1,
  #enforce-width-95-coll2 {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .items-table-container {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .shift-on-large-screen {
    justify-content: end !important;
  }
}

table tr.align-middle > td:first-child {
  border-right: none !important;
}

.placeholder-image {
  background-color: #989898;
  background-image: url('../data/image-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: #989898;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
}

.placeholder-image-page {
  background-color: #989898;
  background-image: url('../data/image-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: #989898;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  min-height: 260px;
  max-width: 500px !important;
}

.help-button {
  width: 50px;
  height: 50px;
}

#enforce-right {
  margin-left: calc(100% - 5.25rem) !important;
}

[id^='react-select'][id$='-listbox'] {
  padding: 0 !important;
}

@media (max-width: 991.98px) {
  #custom-dropdown-menu {
    width: 280px !important;
    right: auto;
    left: 0;
  }
}

@media (min-width: 992px) {
  #custom-dropdown-menu {
    width: 300px !important;
    right: 0;
    left: auto;
  }
}
